@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20vw;
}

body {
    background: #ffffff;
    color: #1a1a1a;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
}

p {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Inconsolata', monospace;
}